extends layout

block content
	h1.
		Edit Contacts
	form(name="editcontact", method="post", action='')
			br
			h4 First Name:
				input(type="text", name="first", value="#{contacts.first}") 
			h4 Last Name:
				input(type="text", name="last", value="#{contacts.last}")
			h4 Title:
				input(type="text", name="titl", value="#{contacts.titl}")
			h4 Company Name:
				input(type="text", name="company", value="#{contacts.company}")
			h4 Place Met:
				input(type="text", name="met", value="#{contacts.met}")
			h4 Date Met:
				input(type="text", name="date", value="#{contacts.date}")
			h4 Email:
				input(type="text", name="email", value="#{contacts.email}")
			h4 Comments
				input(type="text", name="comments", value="#{contacts.comments}")
			
			button.btn.btn-info(type="submit") Update
			a.btn.btn-info( href="/contactlist") Contact List


	